/* 	================================================

	12 COLUMN GRID
	- 980px grid
	- 56px columns (5.71428572%)
	- 14px margins (1.42857143%) = 28px gutter (2.85714286%)
	- first col has no left gutter, last col has no right gutter
	- .no-margin class switches gutter from margin to padding
	- .wrapper.gutter adds padding on left/right when content is within a colored container (WiiU/3DS pages)
	- width: ( 100 - ( NUM_GUTTERS * GUTTER_WIDTH ) ) / NUM_COLUMNS;

	================================================ */

/*	-----------------------------------
	Common
	----------------------------------- */
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    	box-sizing: border-box;
}

img {
	height: auto;
	max-width: 100%;
	min-width: 0;
	outline: none;
	width: auto;
}

/* responsive video */
.video-player {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
}

.poster-player,
.poster-player * {
	pointer-events: none;
}

.video-player iframe,
.video-player object,
.video-player embed,
.video-player > div,
.video-player video {
	height: 100% !important;
	left: 0;
	position: absolute;
	top: 0;
	width: 100% !important;
}


/*	-----------------------------------
	Grid Layout
	----------------------------------- */
.wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: 980px;
	min-width: 960px;
	width: 980px;
}

header .wrapper {
	max-width: 1440px;
	width: 96%;
}

.wrapper.gutter {
	padding-left: 20px;
	padding-right: 20px;
	-webkit-box-sizing: content-box;
	   -moz-box-sizing: content-box;
			box-sizing: content-box;
}

.row {
	display: block;
	list-style: none outside none;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}
.row:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
}


.row .column,
.row > li {
	float: left;
	margin-left: 1.42857143%;
	margin-right: 1.42857143%;
	position: relative;
	width: 5.71428572%;
}
.no-margin .column,
.no-margin > li {
	margin-left: 0;
	margin-right: 0;
	padding-left: 1.42857143%;
	padding-right: 1.42857143%;
	-webkit-box-sizing: content-box;
	   -moz-box-sizing: content-box;
			box-sizing: content-box;
}


/* Remove margins by default on every 12th column */
.row > li:nth-child(12n+12),
.row > .column:nth-child(12n+12) { margin-right: 0; }
.row > li:nth-child(12n+1),
.row > .column:nth-child(12n+1) { margin-left: 0; }

.no-margin > li:nth-child(12n+12),
.no-margin > .column:nth-child(12n+12) { padding-right: 0; }
.no-margin > li:nth-child(12n+1),
.no-margin > .column:nth-child(12n+1) { padding-left: 0; }

/* Set uniform column widths */
.row-11cols > li,
.row-11cols > .column { width:6.4935065%; }

.row-10cols > li,
.row-10cols > .column { width:7.4285714%; }

.row-9cols > li,
.row-9cols > .column { width:8.57142857%; }

.row-8cols > li,
.row-8cols > .column { width:9.99999999%; }

.row-7cols > li,
.row-7cols > .column { width:11.8367346%; }

.row-6cols > li,
.row-6cols > .column { width:14.2857143%; }

.row-5cols > li,
.row-5cols > .column { width:17.714285712%; }

.row-4cols > li,
.row-4cols > .column { width:22.85714286%; }

.row-3cols > li,
.row-3cols > .column { width:31.42857143%; }

.row-2cols > li,
.row-2cols > .column { width:48.57142857%; }

.row-1cols > li,
.row-1cols > .column {
	margin-left: 0;
	margin-right: 0;
	width: 100%;
}

/* Remove Margin/Padding on First/Last columns */
.row .column:first-child,
.row li:first-child { margin-left: 0; }

.row .column:last-child,
.row li:last-child { margin-right: 0; }

.row.no-margin .column:first-child,
.row.no-margin li:first-child { padding-left: 0; }

.row.no-margin .column:last-child,
.row.no-margin li:last-child { padding-right: 0; }

.colum .center {
	margin: 0 auto;
	text-align: center;
}

/* Custom column widths */
.row .col11 { width: 91.42857143%; }
.row .col10 { width: 82.85714286%; }
.row .col9 { width: 74.28571429%; }
.row .col8 { width: 65.71428571%; }
.row .col7 { width: 57.14285714%; }
.row .col6 { width: 48.57142857%; }
.row .col5 { width: 40%; }
.row .col4 { width: 31.42857143%; }
.row .col3 { width: 22.85714286%; }
.row .col2 { width: 14.2857143%; }
/*.col1 {	width: 5.71428572%; }*/

/* 	================================================

	RESPONSIVE BASE

	================================================ */
@media screen and (max-width: 980px) {
	.wrapper {
		max-width: 96%;
		min-width: 0px;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
			    box-sizing: border-box;
	}
	.wrapper.gutter {
		padding-left: 2%;
		padding-right: 2%;
		-webkit-box-sizing: content-box;
		   -moz-box-sizing: content-box;
			    box-sizing: content-box;
	}

	
}
@media screen and (min-width: 769px) and (max-width: 900px) {
	/* Custom column widths */
	.row .col12-dtab { width: 100%; float: none; clear: both; margin-left: 0; margin-right: 0; }
	.row .col11-dtab { width: 91.42857143%; }
	.row .col10-dtab { width: 82.85714286%; }
	.row .col9-dtab { width: 74.28571429%; }
	.row .col8-dtab { width: 65.71428571%; }
	.row .col7-dtab { width: 57.14285714%; }
	.row .col6-dtab { width: 48.57142857%; }
	.row .col5-dtab { width: 40%; }
	.row .col4-dtab { width: 31.42857143%; }
	.row .col3-dtab { width: 22.85714286%; }
	.row .col2-dtab { width: 14.2857143%; }
	.row .col1-dtab { width: 5.71428572%; }
}
/* 	================================================

	DESKTOP VIEW

	================================================ */
@media screen and (min-width: 769px) {

	/* Full Column Width */
	.row .col12 {
		clear: both;
		float: none;
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}

	/* Remove margin/padding on first last columns in even width rows */
	.row-1cols.no-margin > li
	.row-1cols.no-margin > .column {
		padding-left: 0;
		padding-right: 0;
	}

	.row-2cols > li:nth-child(odd),
	.row-2cols > .column:nth-child(odd),
	.row-3cols > li:nth-child(3n+1),
	.row-3cols > .column:nth-child(3n+1),
	.row-4cols > li:nth-child(4n+1),
	.row-4cols > .column:nth-child(4n+1),
	.row-5cols > li:nth-child(5n+1),
	.row-5cols > .column:nth-child(5n+1),
	.row-6cols > li:nth-child(6n+1),
	.row-6cols > .column:nth-child(6n+1),
	.row-7cols > li:nth-child(7n+1),
	.row-7cols > .column:nth-child(7n+1),
	.row-8cols > li:nth-child(8n+1),
	.row-8cols > .column:nth-child(8n+1),
	.row-9cols > li:nth-child(9n+1),
	.row-9cols > .column:nth-child(9n+1),
	.row-10cols > li:nth-child(10n+1),
	.row-10cols > .column:nth-child(10n+1),
	.row-11cols > li:nth-child(11n+1),
	.row-11cols > .column:nth-child(11n+1),
	.row-12cols > li:nth-child(12n+1),
	.row-12cols > .column:nth-child(12n+1) {
		clear: both;
		margin-left: 0;
	}

	.row-2cols > li:nth-child(even),
	.row-2cols > .column:nth-child(even),
	.row-3cols > li:nth-child(3n+3),
	.row-3cols > .column:nth-child(3n+3),
	.row-4cols > li:nth-child(4n+4),
	.row-4cols > .column:nth-child(4n+4),
	.row-5cols > li:nth-child(5n+5),
	.row-5cols > .column:nth-child(5n+5),
	.row-6cols > li:nth-child(6n+6),
	.row-6cols > .column:nth-child(6n+6),
	.row-7cols > li:nth-child(7n+7),
	.row-7cols > .column:nth-child(7n+7),
	.row-8cols > li:nth-child(8n+8),
	.row-8cols > .column:nth-child(8n+8),
	.row-9cols > li:nth-child(9n+9),
	.row-9cols > .column:nth-child(9n+9),
	.row-10cols > li:nth-child(10n+10),
	.row-10cols > .column:nth-child(10n+10),
	.row-11cols > li:nth-child(11n+11),
	.row-11cols > .column:nth-child(11n+11),
	.row-12cols > li:nth-child(12n+12),
	.row-12cols > .column:nth-child(12n+12) {
		margin-right: 0;
	}

	.row-2cols.no-margin > li:nth-child(odd),
	.row-2cols.no-margin > .column:nth-child(odd),
	.row-3cols.no-margin > li:nth-child(3n+1),
	.row-3cols.no-margin > .column:nth-child(3n+1),
	.row-4cols.no-margin > li:nth-child(4n+1),
	.row-4cols.no-margin > .column:nth-child(4n+1),
	.row-5cols.no-margin > li:nth-child(5n+1),
	.row-5cols.no-margin > .column:nth-child(5n+1),
	.row-6cols.no-margin > li:nth-child(6n+1),
	.row-6cols.no-margin > .column:nth-child(6n+1),
	.row-7cols.no-margin > li:nth-child(7n+1),
	.row-7cols.no-margin > .column:nth-child(7n+1),
	.row-8cols.no-margin > li:nth-child(8n+1),
	.row-8cols.no-margin > .column:nth-child(8n+1),
	.row-9cols.no-margin > li:nth-child(9n+1),
	.row-9cols.no-margin > .column:nth-child(9n+1),
	.row-10cols.no-margin > li:nth-child(10n+1),
	.row-10cols.no-margin > .column:nth-child(10n+1),
	.row-11cols.no-margin > li:nth-child(11n+1),
	.row-11cols.no-margin > .column:nth-child(11n+1),
	.row-12cols.no-margin > li:nth-child(12n+1),
	.row-12cols.no-margin > .column:nth-child(12n+1) {
		padding-left: 0;
	}

	.row-2cols.no-margin > li:nth-child(even),
	.row-2cols.no-margin > .column:nth-child(even),
	.row-3cols.no-margin > li:nth-child(3n+3),
	.row-3cols.no-margin > .column:nth-child(3n+3),
	.row-4cols.no-margin > li:nth-child(4n+4),
	.row-4cols.no-margin > .column:nth-child(4n+4),
	.row-5cols.no-margin > li:nth-child(5n+5),
	.row-5cols.no-margin > .column:nth-child(5n+5),
	.row-6cols.no-margin > li:nth-child(6n+6),
	.row-6cols.no-margin > .column:nth-child(6n+6),
	.row-7cols.no-margin > li:nth-child(7n+7),
	.row-7cols.no-margin > .column:nth-child(7n+7),
	.row-8cols.no-margin > li:nth-child(8n+8),
	.row-8cols.no-margin > .column:nth-child(8n+8),
	.row-9cols.no-margin > li:nth-child(9n+9),
	.row-9cols.no-margin > .column:nth-child(9n+9),
	.row-10cols.no-margin > li:nth-child(10n+10),
	.row-10cols.no-margin > .column:nth-child(10n+10),
	.row-11cols.no-margin > li:nth-child(11n+11),
	.row-11cols.no-margin > .column:nth-child(11n+11),
	.row-12cols.no-margin > li:nth-child(12n+11),
	.row-12cols.no-margin > .column:nth-child(12n+12) {
		padding-right: 0;
	}

	/* Push Full Column/Gutter Width */
	.row .column.push11,
	.row li.push11 { left: 94.2857137%; }
	.row .column.push10,
	.row li.push10 { left: 85.7142852%; }
	.row .column.push9,
	.row li.push9 {	left: 77.1428567%; }
	.row .column.push8,
	.row li.push8 {	left: 68.5714282%; }
	.row .column.push7,
	.row li.push7 {	left: 59.9999999%; }
	.row .column.push6,
	.row li.push6 {	left: 51.4285711%; }
	.row .column.push5,
	.row li.push5 {	left: 42.8571426%; }
	.row .column.push4,
	.row li.push4 {	left: 34.2857141%; }
	.row .column.push3,
	.row li.push3 {	left: 25.7142856%; }
	.row .column.push2,
	.row li.push2 {	left: 17.1428571%; }
	.row .column.push1,
	.row li.push1 {	left: 8.57142857%; }

	/* Push Column Width only. No Gutter */
	.row .column.pushcol,
	.row li.pushcol { left: 5.71428572%; }

	/* Push Gutter Width only. No Column */
	.row .column.pushmargin,
	.row li.pushmargin { left: 2.85714286%; }

	/* Pull Full Column/Gutter Width */
	.row .column.pull11,
	.row li.pull11 { left: -94.2857137%; }
	.row .column.pull10,
	.row li.pull10 { left: -85.7142852%; }
	.row .column.pull9,
	.row li.pull9 {	left: -77.1428567%; }
	.row .column.pull8,
	.row li.pull8 {	left: -68.5714282%; }
	.row .column.pull7,
	.row li.pull7 {	left: -59.9999999%; }
	.row .column.pull6,
	.row li.pull6 {	left: -51.4285711%; }
	.row .column.pull5,
	.row li.pull5 {	left: -42.8571426%; }
	.row .column.pull4,
	.row li.pull4 {	left: -34.2857141%; }
	.row .column.pull3,
	.row li.pull3 {	left: -25.7142856%; }
	.row .column.pull2,
	.row li.pull2 {	left: -17.1428571%; }
	.row .column.pull1,
	.row li.pull1 {	left: -8.57142857%; }

	/* Pull Column Width only. No Gutter */
	.row .column.pullcol,
	.row li.pullcol { left: -5.71428572%; }

	/* Pull Gutter Width only. No Column */
	.row .column.pullmargin,
	.row li.pullmargin { left: -2.85714286%; }

	.hide {
		display: none !important;
	}

	.hide-desktop {
		display: none !important;
	}

}


/* 	================================================

	TABLET VIEW

	================================================ */
@media screen and (min-width: 571px) and (max-width: 768px) {

	/* Custom column widths */
	.row .col12-tab { width: 100%; float: none; clear: both; margin-left: 0; margin-right: 0; }
	.row .col11-tab { width: 91.42857143%; }
	.row .col10-tab { width: 82.85714286%; }
	.row .col9-tab { width: 74.28571429%; }
	.row .col8-tab { width: 65.71428571%; }
	.row .col7-tab { width: 57.14285714%; }
	.row .col6-tab { width: 48.57142857%; }
	.row .col5-tab { width: 40%; }
	.row .col4-tab { width: 31.42857143%; }
	.row .col3-tab { width: 22.85714286%; }
	.row .col2-tab { width: 14.2857143%; }
	.row .col1-tab { width: 5.71428572%; }

	.row-1cols-tab > li,
	.row-1cols-tab > .column {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
	.row-1cols-tab.no-margin > li
	.row-1cols-tab.no-margin > .column {
		padding-left: 0;
		padding-right: 0;
	}

	/* Set widths for tablet classes */
	.row-2cols-tab > li,
	.row-2cols-tab > .column { width:48.57142857%; }
	.row-3cols-tab > li,
	.row-3cols-tab > .column { width:31.42857143%; }
	.row-4cols-tab > li,
	.row-4cols-tab > .column { width:22.85714286%; }
	.row-5cols-tab > li,
	.row-5cols-tab > .column { width:17.714285712%; }
	.row-6cols-tab > li,
	.row-6cols-tab > .column { width:14.2857143%; }
	.row-7cols-tab > li,
	.row-7cols-tab > .column { width:11.8367346%; }
	.row-8cols-tab > li,
	.row-8cols-tab > .column { width:9.99999999%; }
	.row-9cols-tab > li,
	.row-9cols-tab > .column { width:8.57142857%; }
	.row-10cols-tab > li,
	.row-10cols-tab > .column { width:7.4285714%; }
	.row-11cols-tab > li,
	.row-11cols-tab > .column { width:6.4935065%; }
	.row-12cols-tab > li,
	.row-12cols-tab > .column { width: 5.71428572%; }


	/* Remove margin/padding on first last columns in even width rows */
	.row-2cols-tab > li:nth-child(odd),
	.row-2cols-tab > .column:nth-child(odd),
	.row-3cols-tab > li:nth-child(3n+1),
	.row-3cols-tab > .column:nth-child(3n+1),
	.row-4cols-tab > li:nth-child(4n+1),
	.row-4cols-tab > .column:nth-child(4n+1),
	.row-5cols-tab > li:nth-child(5n+1),
	.row-5cols-tab > .column:nth-child(5n+1),
	.row-6cols-tab > li:nth-child(6n+1),
	.row-6cols-tab > .column:nth-child(6n+1),
	.row-7cols-tab > li:nth-child(7n+1),
	.row-7cols-tab > .column:nth-child(7n+1),
	.row-8cols-tab > li:nth-child(8n+1),
	.row-8cols-tab > .column:nth-child(8n+1),
	.row-9cols-tab > li:nth-child(9n+1),
	.row-9cols-tab > .column:nth-child(9n+1),
	.row-10cols-tab > li:nth-child(10n+1),
	.row-10cols-tab > .column:nth-child(10n+1),
	.row-11cols-tab > li:nth-child(11n+1),
	.row-11cols-tab > .column:nth-child(11n+1),
	.row-12cols-tab > li:nth-child(12n+1),
	.row-12cols-tab > .column:nth-child(12n+1) {
		clear: both;
		margin-left: 0;
	}

	.row-2cols-tab > li:nth-child(even),
	.row-2cols-tab > .column:nth-child(even),
	.row-3cols-tab > li:nth-child(3n+3),
	.row-3cols-tab > .column:nth-child(3n+3),
	.row-4cols-tab > li:nth-child(4n+4),
	.row-4cols-tab > .column:nth-child(4n+4),
	.row-5cols-tab > li:nth-child(5n+5),
	.row-5cols-tab > .column:nth-child(5n+5),
	.row-6cols-tab > li:nth-child(6n+6),
	.row-6cols-tab > .column:nth-child(6n+6),
	.row-7cols-tab > li:nth-child(7n+7),
	.row-7cols-tab > .column:nth-child(7n+7),
	.row-8cols-tab > li:nth-child(8n+8),
	.row-8cols-tab > .column:nth-child(8n+8),
	.row-9cols-tab > li:nth-child(9n+9),
	.row-9cols-tab > .column:nth-child(9n+9),
	.row-10cols-tab > li:nth-child(10n+10),
	.row-10cols-tab > .column:nth-child(10n+10),
	.row-11cols-tab > li:nth-child(11n+11),
	.row-11cols-tab > .column:nth-child(11n+11),
	.row-12cols-tab > li:nth-child(12n+12),
	.row-12cols-tab > .column:nth-child(12n+12) {
		margin-right: 0;
	}

	.row-2cols-tab.no-margin > li:nth-child(odd),
	.row-2cols-tab.no-margin > .column:nth-child(odd),
	.row-3cols-tab.no-margin > li:nth-child(3n+1),
	.row-3cols-tab.no-margin > .column:nth-child(3n+1),
	.row-4cols-tab.no-margin > li:nth-child(4n+1),
	.row-4cols-tab.no-margin > .column:nth-child(4n+1),
	.row-5cols-tab.no-margin > li:nth-child(5n+1),
	.row-5cols-tab.no-margin > .column:nth-child(5n+1),
	.row-6cols-tab.no-margin > li:nth-child(6n+1),
	.row-6cols-tab.no-margin > .column:nth-child(6n+1),
	.row-7cols-tab.no-margin > li:nth-child(7n+1),
	.row-7cols-tab.no-margin > .column:nth-child(7n+1),
	.row-8cols-tab.no-margin > li:nth-child(8n+1),
	.row-8cols-tab.no-margin > .column:nth-child(8n+1),
	.row-9cols-tab.no-margin > li:nth-child(9n+1),
	.row-9cols-tab.no-margin > .column:nth-child(9n+1),
	.row-10cols-tab.no-margin > li:nth-child(10n+1),
	.row-10cols-tab.no-margin > .column:nth-child(10n+1),
	.row-11cols-tab.no-margin > li:nth-child(11n+1),
	.row-11cols-tab.no-margin > .column:nth-child(11n+1),
	.row-12cols-tab.no-margin > li:nth-child(12n+1),
	.row-12cols-tab.no-margin > .column:nth-child(12n+1) {
		padding-left: 0;
	}

	.row-2cols-tab.no-margin > li:nth-child(even),
	.row-2cols-tab.no-margin > .column:nth-child(even),
	.row-3cols-tab.no-margin > li:nth-child(3n+3),
	.row-3cols-tab.no-margin > .column:nth-child(3n+3),
	.row-4cols-tab.no-margin > li:nth-child(4n+4),
	.row-4cols-tab.no-margin > .column:nth-child(4n+4),
	.row-5cols-tab.no-margin > li:nth-child(5n+5),
	.row-5cols-tab.no-margin > .column:nth-child(5n+5),
	.row-6cols-tab.no-margin > li:nth-child(6n+6),
	.row-6cols-tab.no-margin > .column:nth-child(6n+6),
	.row-7cols-tab.no-margin > li:nth-child(7n+7),
	.row-7cols-tab.no-margin > .column:nth-child(7n+7),
	.row-8cols-tab.no-margin > li:nth-child(8n+8),
	.row-8cols-tab.no-margin > .column:nth-child(8n+8),
	.row-9cols-tab.no-margin > li:nth-child(9n+9),
	.row-9cols-tab.no-margin > .column:nth-child(9n+9),
	.row-10cols-tab.no-margin > li:nth-child(10n+10),
	.row-10cols-tab.no-margin > .column:nth-child(10n+10),
	.row-11cols-tab.no-margin > li:nth-child(11n+11),
	.row-11cols-tab.no-margin > .column:nth-child(11n+11),
	.row-12cols-tab.no-margin > li:nth-child(12n+11),
	.row-12cols-tab.no-margin > .column:nth-child(12n+12) {
		padding-right: 0;
	}

	/* Push Full Column/Gutter Width */
	.row .column.push11-tab,
	.row li.push11-tab { left: 94.2857137%; }
	.row .column.push10-tab,
	.row li.push10-tab { left: 85.7142852%; }
	.row .column.push9-tab,
	.row li.push9-tab {	left: 77.1428567%; }
	.row .column.push8-tab,
	.row li.push8-tab {	left: 68.5714282%; }
	.row .column.push7-tab,
	.row li.push7-tab {	left: 59.9999999%; }
	.row .column.push6-tab,
	.row li.push6-tab {	left: 51.4285711%; }
	.row .column.push5-tab,
	.row li.push5-tab {	left: 42.8571426%; }
	.row .column.push4-tab,
	.row li.push4-tab {	left: 34.2857141%; }
	.row .column.push3-tab,
	.row li.push3-tab {	left: 25.7142856%; }
	.row .column.push2-tab,
	.row li.push2-tab {	left: 17.1428571%; }
	.row .column.push1-tab,
	.row li.push1-tab {	left: 8.57142857%; }

	/* Push Column Width only. No Gutter */
	.row .column.pushcol-tab,
	.row li.pushcol-tab { left: 5.71428572%; }

	/* Push Gutter Width only. No Column */
	.row .column.pushmargin-tab,
	.row li.pushmargin-tab { left: 2.85714286%; }

	/* Pull Full Column/Gutter Width */
	.row .column.pull11-tab,
	.row li.pull11-tab { left: -94.2857137%; }
	.row .column.pull10-tab,
	.row li.pull10-tab { left: -85.7142852%; }
	.row .column.pull9-tab,
	.row li.pull9-tab {	left: -77.1428567%; }
	.row .column.pull8-tab,
	.row li.pull8-tab {	left: -68.5714282%; }
	.row .column.pull7-tab,
	.row li.pull7-tab {	left: -59.9999999%; }
	.row .column.pull6-tab,
	.row li.pull6-tab {	left: -51.4285711%; }
	.row .column.pull5-tab,
	.row li.pull5-tab {	left: -42.8571426%; }
	.row .column.pull4-tab,
	.row li.pull4-tab {	left: -34.2857141%; }
	.row .column.pull3-tab,
	.row li.pull3-tab {	left: -25.7142856%; }
	.row .column.pull2-tab,
	.row li.pull2-tab {	left: -17.1428571%; }
	.row .column.pull1-tab,
	.row li.pull1-tab {	left: -8.57142857%; }

	/* Pull Column Width only. No Gutter */
	.row .column.pullcol-tab,
	.row li.pullcol-tab { left: -5.71428572%; }

	/* Pull Gutter Width only. No Column */
	.row .column.pullmargin-tab,
	.row li.pullmargin-tab { left: -2.85714286%; }


	.hide-tablet {
		display: none !important;
	}

}


/* 	================================================

	MOBILE VIEW

	================================================ */
@media screen and (max-width: 570px) {

	/* Default Columns are Full Width */
	.row > .column,
	.row > li {
		float: none;
		clear: both;
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
	.no-margin > .column,
	.no-margin > li {
		padding-left: 0;
		padding-right: 0;
	}

	/* Custom column widths */
	.row .col12-mob { width: 100%; float: none; clear: both; margin-left: 0; margin-right: 0; }
	.row .col11-mob { width: 91.42857143%; float: left; clear: none; }
	.row .col10-mob { width: 82.85714286%; float: left; clear: none; }
	.row .col9-mob { width: 74.28571429%; float: left; clear: none; }
	.row .col8-mob { width: 65.71428571%; float: left; clear: none; }
	.row .col7-mob { width: 57.14285714%; float: left; clear: none; }
	.row .col6-mob { width: 48.57142857%; float: left; clear: none; }
	.row .col5-mob { width: 40%; float: left; clear: none; }
	.row .col4-mob { width: 31.42857143%; float: left; clear: none; }
	.row .col3-mob { width: 22.85714286%; float: left; clear: none; }
	.row .col2-mob { width: 14.2857143%; float: left; clear: none; }
	.row .col1-mob { width: 5.71428572%; float: left; clear: none; }

	/* Push Full Column/Gutter Width */
	.row .column.push11-mob,
	.row li.push11-mob { left: 94.2857137%; }
	.row .column.push10-mob,
	.row li.push10-mob { left: 85.7142852%; }
	.row .column.push9-mob,
	.row li.push9-mob {	left: 77.1428567%; }
	.row .column.push8-mob,
	.row li.push8-mob {	left: 68.5714282%; }
	.row .column.push7-mob,
	.row li.push7-mob {	left: 59.9999999%; }
	.row .column.push6-mob,
	.row li.push6-mob {	left: 51.4285711%; }
	.row .column.push5-mob,
	.row li.push5-mob {	left: 42.8571426%; }
	.row .column.push4-mob,
	.row li.push4-mob {	left: 34.2857141%; }
	.row .column.push3-mob,
	.row li.push3-mob {	left: 25.7142856%; }
	.row .column.push2-mob,
	.row li.push2-mob {	left: 17.1428571%; }
	.row .column.push1-mob,
	.row li.push1-mob {	left: 8.57142857%; }

	/* Push Column Width only. No Gutter */
	.row .column.pushcol-mob,
	.row li.pushcol-mob { left: 5.71428572%; }

	/* Push Gutter Width only. No Column */
	.row .column.pushmargin-mob,
	.row li.pushmargin-mob { left: 2.85714286%; }

	/* Pull Full Column/Gutter Width */
	.row .column.pull11-mob,
	.row li.pull11-mob { left: -94.2857137%; }
	.row .column.pull10-mob,
	.row li.pull10-mob { left: -85.7142852%; }
	.row .column.pull9-mob,
	.row li.pull9-mob {	left: -77.1428567%; }
	.row .column.pull8-mob,
	.row li.pull8-mob {	left: -68.5714282%; }
	.row .column.pull7-mob,
	.row li.pull7-mob {	left: -59.9999999%; }
	.row .column.pull6-mob,
	.row li.pull6-mob {	left: -51.4285711%; }
	.row .column.pull5-mob,
	.row li.pull5-mob {	left: -42.8571426%; }
	.row .column.pull4-mob,
	.row li.pull4-mob {	left: -34.2857141%; }
	.row .column.pull3-mob,
	.row li.pull3-mob {	left: -25.7142856%; }
	.row .column.pull2-mob,
	.row li.pull2-mob {	left: -17.1428571%; }
	.row .column.pull1-mob,
	.row li.pull1-mob {	left: -8.57142857%; }

	/* Pull Column Width only. No Gutter */
	.row .column.pullcol-mob,
	.row li.pullcol-mob { left: -5.71428572%; }

	/* Pull Gutter Width only. No Column */
	.row .column.pullmargin-mob,
	.row li.pullmargin-mob { left: -2.85714286%; }

	/* Add margin/padding for multi columns */
	.row-2cols-mob > li,
	.row-2cols-mob > .column,
	.row-3cols-mob > li,
	.row-3cols-mob > .column,
	.row-4cols-mob > li,
	.row-4cols-mob > .column,
	.row-5cols-mob > li,
	.row-5cols-mob > .column,
	.row-6cols-mob > li,
	.row-6cols-mob > .column,
	.row-7cols-mob > li,
	.row-7cols-mob > .column,
	.row-8cols-mob > li,
	.row-8cols-mob > .column,
	.row-9cols-mob > li,
	.row-9cols-mob > .column,
	.row-10cols-mob > li,
	.row-10cols-mob > .column,
	.row-11cols-mob > li,
	.row-11cols-mob > .column,
	.row-12cols-mob > li,
	.row-12cols-mob > .column {
		clear: none;
		float: left;
		margin-left: 1.42857143%;
		margin-right: 1.42857143%;
	}

	.row-2cols-mob.no-margin > li,
	.row-2cols-mob.no-margin > .column,
	.row-3cols-mob.no-margin > li,
	.row-3cols-mob.no-margin > .column,
	.row-4cols-mob.no-margin > li,
	.row-4cols-mob.no-margin > .column,
	.row-5cols-mob.no-margin > li,
	.row-5cols-mob.no-margin > .column,
	.row-6cols-mob.no-margin > li,
	.row-6cols-mob.no-margin > .column,
	.row-7cols-mob.no-margin > li,
	.row-7cols-mob.no-margin > .column,
	.row-8cols-mob.no-margin > li,
	.row-8cols-mob.no-margin > .column,
	.row-9cols-mob.no-margin > li,
	.row-9cols-mob.no-margin > .column,
	.row-10cols-mob.no-margin > li,
	.row-10cols-mob.no-margin > .column,
	.row-11cols-mob.no-margin > li,
	.row-11cols-mob.no-margin > .column,
	.row-12cols-mob.no-margin > li,
	.row-12cols-mob.no-margin > .column {
		padding-left: 1.42857143%;
		padding-right: 1.42857143%;
	}

	/* Set widths for mobile classes */
	.row-2cols-mob > li,
	.row-2cols-mob > .column { width:48.57142857%; }
	.row-3cols-mob > li,
	.row-3cols-mob > .column { width:31.42857143%; }
	.row-4cols-mob > li,
	.row-4cols-mob > .column { width:22.85714286%; }
	.row-5cols-mob > li,
	.row-5cols-mob > .column { width:17.714285712%; }
	.row-6cols-mob > li,
	.row-6cols-mob > .column { width:14.2857143%; }
	.row-7cols-mob > li,
	.row-7cols-mob > .column { width:11.8367346%; }
	.row-8cols-mob > li,
	.row-8cols-mob > .column { width:9.99999999%; }
	.row-9cols-mob > li,
	.row-9cols-mob > .column { width:8.57142857%; }
	.row-10cols-mob > li,
	.row-10cols-mob > .column { width:7.4285714%; }
	.row-11cols-mob > li,
	.row-11cols-mob > .column { width:6.4935065%; }
	.row-12cols-mob > li,
	.row-12cols-mob > .column { width: 5.71428572%; }

	/* Remove margin/padding on first last columns in even width rows */
	.row-2cols-mob > li:nth-child(odd),
	.row-2cols-mob > .column:nth-child(odd),
	.row-3cols-mob > li:nth-child(3n+1),
	.row-3cols-mob > .column:nth-child(3n+1),
	.row-4cols-mob > li:nth-child(4n+1),
	.row-4cols-mob > .column:nth-child(4n+1),
	.row-5cols-mob > li:nth-child(5n+1),
	.row-5cols-mob > .column:nth-child(5n+1),
	.row-6cols-mob > li:nth-child(6n+1),
	.row-6cols-mob > .column:nth-child(6n+1),
	.row-7cols-mob > li:nth-child(7n+1),
	.row-7cols-mob > .column:nth-child(7n+1),
	.row-8cols-mob > li:nth-child(8n+1),
	.row-8cols-mob > .column:nth-child(8n+1),
	.row-9cols-mob > li:nth-child(9n+1),
	.row-9cols-mob > .column:nth-child(9n+1),
	.row-10cols-mob > li:nth-child(10n+1),
	.row-10cols-mob > .column:nth-child(10n+1),
	.row-11cols-mob > li:nth-child(11n+1),
	.row-11cols-mob > .column:nth-child(11n+1),
	.row-12cols-mob > li:nth-child(12n+1),
	.row-12cols-mob > .column:nth-child(12n+1) {
		clear: both;
		margin-left: 0;
	}

	.row-2cols-mob > li:nth-child(even),
	.row-2cols-mob > .column:nth-child(even),
	.row-3cols-mob > li:nth-child(3n+3),
	.row-3cols-mob > .column:nth-child(3n+3),
	.row-4cols-mob > li:nth-child(4n+4),
	.row-4cols-mob > .column:nth-child(4n+4),
	.row-5cols-mob > li:nth-child(5n+5),
	.row-5cols-mob > .column:nth-child(5n+5),
	.row-6cols-mob > li:nth-child(6n+6),
	.row-6cols-mob > .column:nth-child(6n+6),
	.row-7cols-mob > li:nth-child(7n+7),
	.row-7cols-mob > .column:nth-child(7n+7),
	.row-8cols-mob > li:nth-child(8n+8),
	.row-8cols-mob > .column:nth-child(8n+8),
	.row-9cols-mob > li:nth-child(9n+9),
	.row-9cols-mob > .column:nth-child(9n+9),
	.row-10cols-mob > li:nth-child(10n+10),
	.row-10cols-mob > .column:nth-child(10n+10),
	.row-11cols-mob > li:nth-child(11n+11),
	.row-11cols-mob > .column:nth-child(11n+11),
	.row-12cols-mob > li:nth-child(12n+12),
	.row-12cols-mob > .column:nth-child(12n+12) {
		margin-right: 0;
	}

	.row-2cols-mob.no-margin > li:nth-child(odd),
	.row-2cols-mob.no-margin > .column:nth-child(odd),
	.row-3cols-mob.no-margin > li:nth-child(3n+1),
	.row-3cols-mob.no-margin > .column:nth-child(3n+1),
	.row-4cols-mob.no-margin > li:nth-child(4n+1),
	.row-4cols-mob.no-margin > .column:nth-child(4n+1),
	.row-5cols-mob.no-margin > li:nth-child(5n+1),
	.row-5cols-mob.no-margin > .column:nth-child(5n+1),
	.row-6cols-mob.no-margin > li:nth-child(6n+1),
	.row-6cols-mob.no-margin > .column:nth-child(6n+1),
	.row-7cols-mob.no-margin > li:nth-child(7n+1),
	.row-7cols-mob.no-margin > .column:nth-child(7n+1),
	.row-8cols-mob.no-margin > li:nth-child(8n+1),
	.row-8cols-mob.no-margin > .column:nth-child(8n+1),
	.row-9cols-mob.no-margin > li:nth-child(9n+1),
	.row-9cols-mob.no-margin > .column:nth-child(9n+1),
	.row-10cols-mob.no-margin > li:nth-child(10n+1),
	.row-10cols-mob.no-margin > .column:nth-child(10n+1),
	.row-11cols-mob.no-margin > li:nth-child(11n+1),
	.row-11cols-mob.no-margin > .column:nth-child(11n+1),
	.row-12cols-mob.no-margin > li:nth-child(12n+1),
	.row-12cols-mob.no-margin > .column:nth-child(12n+1) {
		padding-left: 0;
	}

	.row-2cols-mob.no-margin > li:nth-child(even),
	.row-2cols-mob.no-margin > .column:nth-child(even),
	.row-3cols-mob.no-margin > li:nth-child(3n+3),
	.row-3cols-mob.no-margin > .column:nth-child(3n+3),
	.row-4cols-mob.no-margin > li:nth-child(4n+4),
	.row-4cols-mob.no-margin > .column:nth-child(4n+4),
	.row-5cols-mob.no-margin > li:nth-child(5n+5),
	.row-5cols-mob.no-margin > .column:nth-child(5n+5),
	.row-6cols-mob.no-margin > li:nth-child(6n+6),
	.row-6cols-mob.no-margin > .column:nth-child(6n+6),
	.row-7cols-mob.no-margin > li:nth-child(7n+7),
	.row-7cols-mob.no-margin > .column:nth-child(7n+7),
	.row-8cols-mob.no-margin > li:nth-child(8n+8),
	.row-8cols-mob.no-margin > .column:nth-child(8n+8),
	.row-9cols-mob.no-margin > li:nth-child(9n+9),
	.row-9cols-mob.no-margin > .column:nth-child(9n+9),
	.row-10cols-mob.no-margin > li:nth-child(10n+10),
	.row-10cols-mob.no-margin > .column:nth-child(10n+10),
	.row-11cols-mob.no-margin > li:nth-child(11n+11),
	.row-11cols-mob.no-margin > .column:nth-child(11n+11),
	.row-12cols-mob.no-margin > li:nth-child(12n+11),
	.row-12cols-mob.no-margin > .column:nth-child(12n+12) {
		padding-right: 0;
	}

	.no-margin > .column,
	.no-margin > li {
		margin: 0;
	}

	.hide-mobile {
		display: none !important;
	}
}




