/*
 * See: https://www.google.com/fonts/license/productsans
 */
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Product Sans'), local('ProductSans-Regular'), url(http://fonts.gstatic.com/s/productsans/v9/HYvgU2fE2nRJvZ5JFAumwYnF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: italic;
  font-weight: 400;
  src: local('RobotoDraft Italic'), local('RobotoDraft-Italic'), url(http://fonts.gstatic.com/s/robotodraft/v5/er-TIW55l9KWsTS1x9bTfuLrC4Du4e_yfTJ8Ol60xk0.ttf) format('truetype');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 300;
  src: local('RobotoDraft Light'), local('RobotoDraft-Light'), url(http://fonts.gstatic.com/s/robotodraft/v5/u0_CMoUf3y3-4Ss4ci-VwbfB31yxOzP-czbf6AAKCVo.ttf) format('truetype');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 400;
  src: local('RobotoDraft'), local('RobotoDraft-Regular'), url(http://fonts.gstatic.com/s/robotodraft/v5/0xES5Sl_v6oyT7dAKuoni50EAVxt0G0biEntp43Qt6E.ttf) format('truetype');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 500;
  src: local('RobotoDraft Medium'), local('RobotoDraft-Medium'), url(http://fonts.gstatic.com/s/robotodraft/v5/u0_CMoUf3y3-4Ss4ci-VwfMi34-dsJKaItLa5TRL9eU.ttf) format('truetype');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 700;
  src: local('RobotoDraft Bold'), local('RobotoDraft-Bold'), url(http://fonts.gstatic.com/s/robotodraft/v5/u0_CMoUf3y3-4Ss4ci-VwZ_TkvowlIOtbR7ePgFOpF4.ttf) format('truetype');
}
